/*Code css cho nút nhấn*/
#ON {
    border: none; 
    background-color: rgb(44, 199, 27); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 50px; height: 25px; 
    left: 10px; top: 50px;
}
#OFF {
    border: none; 
    background-color: rgb(227, 19, 26); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 50px; height: 25px; 
    left: 57px; top: 50px;
}
/*Màn hình chính*/
#Screen_Main {
    position: absolute; 
    left: 215px; top: 11px; 
    width: 1363px; height: 459px;
    background-color: rgb(15, 228, 210); 
}