/*Màn hình 1*/
#Screen_1 {
    position: absolute; 
    left: 215px; top: 11px; 
    width: 1850px; height: 975px;
    background-color: rgb(15, 228, 210); 
}
 /*Bơm 1*/
#sym_scrManu_Pump1 {
    position: absolute; 
    left: 685px; top: 301px; 
    width: 75px; height: 75px;
}
/*Bơm 2*/
#sym_scrManu_Pump2 {
    position: absolute; 
    left: 1143px; top: 270px; 
    width: 75px; height: 75px;
}
/*Bơm 3*/
#sym_scrManu_Pump3 {
    position: absolute; 
    left: 1425px; top: 270px; 
    width: 75px; height: 75px;
}
/*Bơm 4*/
#sym_scrManu_Pump4 {
    position: absolute; 
    left: 1715px; top: 270px; 
    width: 75px; height: 75px;
}
/*/////////////////////////////////////////////////////////////CSS CHO VAN NƯỚC TRƯƠNG TRÌNH////////////////////////////////////////////////*/
/*Van 1*/
#sym_scrManu_Valve1 {
    position: absolute; 
    left: 753px; top: 229px; 
    width: 60px; height: 60px;
}
/*Van 2*/
#sym_scrManu_Valve2 {
    position: absolute; 
    left: 1035px; top: 277px; 
    width: 50px; height: 50px;
}
/*Van 3*/
#sym_scrManu_Valve3 {
    position: absolute; 
    left: 1318px; top: 277px; 
    width: 50px; height: 50px;
}
/*Van 4*/
#sym_scrManu_Valve4 {
    position: absolute; 
    left: 1620px; top: 277px; 
    width: 50px; height: 50px;
}
/*Van 5*/
#sym_scrManu_Valve5 {
    position: absolute; 
    left: 755px; top: 745px; 
    width: 55px; height: 55px;
}
/*Van 6*/
#sym_scrManu_Valve6 {
    position: absolute; 
    left: 1060px; top: 741px; 
    width: 60px; height: 60px;
}
/*/////////////////////////////////////////////////////////////////CSS CỦA CÁC BỒN MÀU///////////////////////////////////////*/
/*TANK1*/
#sym_scrManu_Tank1 {
    position: absolute; 
    left: 1106px; top: 86px; 
    width: 106px; height: 106px;
}
/*TANK2*/
#sym_scrManu_Tank2 {
    position: absolute; 
    left: 1385px; top: 86px; 
    width: 106px; height: 106px;
}
/*TANK3*/
#sym_scrManu_Tank3 {
    position: absolute; 
    left: 1675px; top: 86px; 
    width: 106px; height: 106px;
}
/*TANK BỒN TRỘN*/
#sym_scrManu_TRON1 {
    position: absolute; 
    left: 800px; top: 510px; 
    width: 300px; height: 240px;
}
/*ĐỘNG CƠ BỒN TRỘN*/
#sym_scrManu_DCTRON1 {
    position: absolute; 
    left: 880px; top: 431px; 
    width: 90px; height: 80px;
}
/*tankNC*/
#sym_scrManu_tankNC {
    position: absolute; 
    left: 1170px; top: 820px; 
    width: 100px; height: 100px;
}
/*Lon sơn*/
#sym_scrManu_lonNC {
    position: absolute; 
    left: 650px; top: 860px; 
    width: 50px; height: 100px;
}
/*BĂNG TẢI1*/
#sym_scrManu_bangtai1 {
    position: absolute; 
    left: 0px; top: 940px; 
    width: 500px; height: 40px;
}
/*BĂNG TẢI2*/
#sym_scrManu_bangtai2 {
    position: absolute; 
    left: 395px; top: 940px; 
    width: 500px; height: 40px;
}
/*BĂNG TẢI3*/
#sym_scrManu_bangtai3 {
    position: absolute; 
    left: 805px; top: 940px; 
    width: 500px; height: 40px;
}
/*BĂNG TẢI4*/
#sym_scrManu_bangtai4 {
    position: absolute; 
    left: 1200px; top: 940px; 
    width: 500px; height: 40px;
}
/*BĂNG TẢI5*/
#sym_scrManu_bangtai5 {
    position: absolute; 
    left: 1450px; top: 940px; 
    width: 500px; height: 40px;
}
/*xi lanh đẩy lon*/
#sym_scrManu_daylon {
    position: absolute; 
    left: 0px; top: 870px; 
    width: 100px; height: 40px;
}
/*xi lanh đẩy nắp*/
#sym_scrManu_daynap {
    position: absolute; 
    left: 1500px; top: 850px; 
    width: 100px; height: 40px;
}
/*xi lanh dập nắp*/
#sym_scrManu_dongnap {
    position: absolute; 
    left: 1700px; top: 700px; 
    width: 40px; height: 100px;
}
/*////////////////////////////////////////////////CSS NÚT NHẤN////////////////////////////////////////////////////////*/
/*NÚT NHẤN CHẾ ĐỘ TỰ ĐỘNG*/
#btt_scrManu_Auto {
    border: none; 
    background-color: rgb(0, 247, 29); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 90px; height: 35px; 
    left: 40px; top: 110px;
}
/*NÚT NHẤN CHẾ ĐỘ BẰNG TAY*/
#btt_scrManu_Manu {
    border: none; 
    background-color: rgb(247, 0, 161); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 90px; height: 35px; 
    left: 140px; top: 110px;
}
/*NÚT NHẤN MỞ BƠM 1*/
#btt_scrManu_BOM1_OPEN {
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 650px; top: 300px;
}
/*NÚT NHẤN ĐÓNG BƠM 1*/
#btt_scrManu_BOM1_CLOSE {
    border: none; 
    background-color: rgb(247, 7, 7); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 700px; top: 300px;
}
/*NÚT NHẤN MỞ BƠM 2*/
#btt_scrManu_BOM2_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1150px; top: 260px;
}
/*NÚT NHẤN ĐÓNG BƠM 2*/
#btt_scrManu_BOM2_CLOSE{
    border: none; 
    background-color: rgb(247, 7, 7); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1200px; top: 260px;
}
/*NÚT NHẤN MỞ BƠM 3*/
#btt_scrManu_BOM3_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1400px; top: 260px;
}
/*NÚT NHẤN ĐÓNG BƠM 3*/
#btt_scrManu_BOM3_CLOSE{
    border: none; 
    background-color: rgb(247, 7, 7); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1450px; top: 260px;
}
/*NÚT NHẤN MỞ BƠM 4*/
#btt_scrManu_BOM4_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1700px; top: 260px;
}
/*NÚT NHẤN ĐÓNG BƠM 4*/
#btt_scrManu_BOM4_CLOSE{
    border: none; 
    background-color: rgb(247, 7, 7); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1750px; top: 260px;
}
/*////////////////////////////////////////////// CÁC VAN NƯỚC/////////////////////////////////////////
/*NÚT NHẤN MỞ VAN NƯỚC 1*/
#btt_scrManu_VAN_NUOC_1_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 770px; top: 160px;
}
/*NÚT NHẤN ĐÓNG VAN NƯỚC 1*/
#btt_scrManu_VAN_NUOC_1_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 820px; top: 160px;
}
/*NÚT NHẤN MỞ VAN NƯỚC 2*/
#btt_scrManu_VAN_NUOC_2_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1000px; top: 240px;
}
/*NÚT NHẤN ĐÓNG VAN NƯỚC 2*/
#btt_scrManu_VAN_NUOC_2_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1050px; top: 240px;
}
/*NÚT NHẤN MỞ VAN NƯỚC 3*/
#btt_scrManu_VAN_NUOC_3_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1300px; top: 240px;
}
/*NÚT NHẤN ĐÓNG VAN NƯỚC 3*/
#btt_scrManu_VAN_NUOC_3_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1350px; top: 240px;
}
/*NÚT NHẤN MỞ VAN NƯỚC 4*/
#btt_scrManu_VAN_NUOC_4_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1600px; top: 240px;
}
/*NÚT NHẤN ĐÓNG VAN NƯỚC 4*/
#btt_scrManu_VAN_NUOC_4_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1650px; top: 240px;
}
/*NÚT NHẤN MỞ VAN NƯỚC 5*/
#btt_scrManu_VAN_NUOC_5_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 720px; top: 800px;
}
/*NÚT NHẤN ĐÓNG VAN NƯỚC 5*/
#btt_scrManu_VAN_NUOC_5_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 770px; top: 800px;
}
/*NÚT NHẤN MỞ VAN NƯỚC 6*/
#btt_scrManu_VAN_NUOC_6_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1020px; top: 724px;
}
/*NÚT NHẤN ĐÓNG VAN NƯỚC 6*/
#btt_scrManu_VAN_NUOC_6_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1070px; top: 724px;
}
/*NÚT NHẤN MỞ VAN KHÍ 1*/
#btt_scrManu_VAN_KHI_1_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 0px; top: 800px;
}
/*NÚT NHẤN ĐÓNG VAN KHÍ 1*/
#btt_scrManu_VAN_KHI_1_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 50px; top: 800px;
}
/*NÚT NHẤN MỞ VAN KHÍ 2*/
#btt_scrManu_VAN_KHI_2_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1500px; top: 800px;
}
/*NÚT NHẤN ĐÓNG VAN KHÍ 2*/
#btt_scrManu_VAN_KHI_2_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1550px; top: 800px;
}
/*NÚT NHẤN MỞ VAN KHÍ 3*/
#btt_scrManu_VAN_KHI_3_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1600px; top: 700px;
}
/*NÚT NHẤN ĐÓNG VAN KHÍ 3*/
#btt_scrManu_VAN_KHI_3_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 1650px; top: 700px;
}
/*NÚT NHẤN MỞ BĂNG TẢI*/
#btt_scrManu_BANGTAI_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 200px; top: 900px;
}
/*NÚT NHẤN ĐÓNG BĂNG TẢI*/
#btt_scrManu_BANGTAI_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 250px; top: 900px;
}
/*NÚT NHẤN MỞ BĂNG TẢI*/
#btt_scrManu_DC_KHOANG_OPEN{
    border: none; 
    background-color: rgb(84, 249, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 800px; top: 400px;
}
/*NÚT NHẤN ĐÓNG BĂNG TẢI*/
#btt_scrManu_DC_KHOANG_CLOSE{
    border: none; 
    background-color: rgb(236, 4, 4); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 20px; 
    left: 850px; top: 400px;
}


